* {
    margin: 0;
    padding-left: 0;
    box-sizing: border-box;
}

.background {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    animation: pulseGradient 50s infinite linear;
}

body {
    /* background: url("https://picsum.photos/1600/900"); */
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 60px;
    display: flex;
    justify-content: center;
}

.conteiner {
    background-color: rgba(240, 248, 255, 0.3);
    width: min-content;
    height: min-content;
    display: block;
    padding: 20px;
    border-radius: 15px;
}

.buttons {
    width: min-content;
    height: min-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 15px;
}

button {
    margin: 0 3px;
    width: 60px;
    height: 60px;
    font-size: 40px;
    transition: opacity 0.5s ease-in-out;
}

button:hover {
    cursor: pointer;
    opacity: 0.6;
}

p {
    font-weight: 600;
    padding: 4px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 25px;
}

span,
h1 {
    font-weight: 900;
}

.sheldonValue {
    color: rgb(226, 238, 61);
}
.playText {
    margin: -15px 0 -3px 0;
    display: none;
    color: rgb(0, 6, 94);
}
.playTextSpan {
    color: red;
}
.playerRandom {
    color: rgb(0, 85, 18);
}

.youValue {
    color: rgb(79, 236, 163);
}

#rock {
    background-color: 	rgb(139,0,0);
}

#papper {
    background-color: 	rgb(128,0,128);
}

#scissor {
    background-color: 	rgb(255,255,0);
}

#lizard {
    background-color: 	rgb(0,155,0);
}

#spock {
    background-color: 	rgb(0,0,205);
}